{% extends "base.html" %}

{% block title %}CDN管理器 - 仪表盘{% endblock %}

{% block content %}
    {% include "partials/tab_domains.html" %}
    {% include "partials/tab_urls.html" %}
    {% if user.role == 'admin' %}
    {% include "partials/tab_credentials.html" %}
    {% include "partials/tab_users.html" %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script id="provider-credentials" type="application/json">{{ provider_credentials_json | safe }}</script>
    <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
