{% extends "base.html" %}

{% block title %}CDN管理器 - 仪表盘{% endblock %}

{% block content %}
    {% include "partials/tab_domains.html" %}
    {% include "partials/tab_urls.html" %}
    {% include "partials/tab_upload.html" %}
    {% include "partials/tab_api_docs.html" %}
                {% if user.role == 'admin' %}
    {% include "partials/tab_projects.html" %}
    {% include "partials/tab_storage_targets.html" %}
    {% include "partials/tab_storage_credentials.html" %}
    {% include "partials/tab_credentials.html" %}
    {% include "partials/tab_dns_credentials.html" %}
    {% include "partials/tab_root_domains.html" %}
    {% include "partials/tab_users.html" %}
                {% endif %}
{% endblock %}

{% block scripts %}
    <script id="provider-credentials" type="application/json">{{ provider_credentials_json | safe }}</script>
    <script id="dns-credentials" type="application/json">{{ dns_credentials_json | safe }}</script>
    <script id="storage-credentials" type="application/json">{{ storage_credentials_json | safe }}</script>
    <script id="projects-data" type="application/json">{{ projects_json | safe }}</script>
    {% if user.role == 'admin' %}
    <script id="all-projects-tree" type="application/json">{{ all_projects_tree_json | safe }}</script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/tabs.js') }}?v={{ asset_version }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}?v={{ asset_version }}"></script>
    {% if user.role == 'admin' %}
    <script src="{{ url_for('static', filename='js/projects.js') }}?v={{ asset_version }}"></script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/upload-idb.js') }}?v={{ asset_version }}"></script>
    <script src="{{ url_for('static', filename='js/upload.js') }}?v={{ asset_version }}"></script>
{% endblock %}
